<div class="calendar">
{% if page.previous %}<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" class="prev">&lt;{{ page.previous.title }}</a>{% endif %}
{% if page.next %}&nbsp;<span class="delimiter">|</span>&nbsp;<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" class="next">{{ page.next.title }}&gt;</a>{% endif %}
</div>

<div class="day autopagerize_page_element">
  <h2><span class="date">{{ page.date | date: site.theme.date_format }}</span><span class="title"></span></h2>
  <div class="body">

    <div class="section">
      <h3 class="title"><a href="{{ page.url }}" name="{{ page.title }}">{{ page.title }}</a></h3>
      <p class="sectionheader">
        <ul class="sectioncategory">
        {% unless page.tags == empty %}
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        {% endunless %}
        </ul>
      </p>
{{ content }}
    </div>

{% comment %}<!--
    <div class="refererlist">
    </div>
-->{% endcomment %}

    <div class="comment">
      {% include JB/comments %}
    </div>

  </div>
</div>
