<div class="calendar">
{% if page.previous %}<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" class="prev">&lt;{{ page.previous.title }}</a>{% endif %}
{% if page.next %}&nbsp;<span class="delimiter">|</span>&nbsp;<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" class="next">{{ page.next.title }}&gt;</a>{% endif %}
</div>

<div class="day autopagerize_page_element">
  <h2><span class="date">{{page.date | date: "%Y-%m-%d" }}</span><span class="title"></span></h2>
  <div class="body">

    <div class="section">
      <h3 class="title"><a href="{{page.url}}" name="{{page.title}}">{{page.title}}</a></h3>
      <p class="sectionheader">
        <ul class="sectioncategory">
        {% unless page.tags == empty %}
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        {% endunless %}
        </ul>
      </p>
{{ content }}
    </div>

{% comment %}<!--
    <div class="refererlist">
    </div>
-->{% endcomment %}

    <div class="comment">
      {% include JB/comments %}
    </div>

  </div>
</div>

{% comment %}<!--
http://liquid.rubyforge.org/classes/Liquid/StandardFilters.html#M000012

Reformat a date

%a - The abbreviated weekday name (``Sun'')
%A - The  full  weekday  name (``Sunday'')
%b - The abbreviated month name (``Jan'')
%B - The  full  month  name (``January'')
%c - The preferred local date and time representation
%d - Day of the month (01..31)
%H - Hour of the day, 24-hour clock (00..23)
%I - Hour of the day, 12-hour clock (01..12)
%j - Day of the year (001..366)
%m - Month of the year (01..12)
%M - Minute of the hour (00..59)
%p - Meridian indicator (``AM''  or  ``PM'')
%S - Second of the minute (00..60)
%U - Week  number  of the current year,
      starting with the first Sunday as the first
      day of the first week (00..53)
%W - Week  number  of the current year,
      starting with the first Monday as the first
      day of the first week (00..53)
%w - Day of the week (Sunday is 0, 0..6)
%x - Preferred representation for the date alone, no time
%X - Preferred representation for the time alone, no date
%y - Year without a century (00..99)
%Y - Year with century
%Z - Time zone name
%% - Literal ``%'' character
-->{% endcomment %}

